{% extends "main/base.html" %}
{% load static %}

{% block title %}
    {{ car.name }}
{% endblock title %}

{% block content %}
    <div class="detail-car d-flex">
    <div class="detail-img">
        <img src="{% if car.image %}{{ car.image.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}" alt="">
    </div>
    <div class="detail-description">
        <h2>{{ car.name }}</h2>
        {% if car.discount %}
        <div class="cart-discount d-flex gap-2">
            <p class="cart-line"></p>
            <p class="line">Цена: {{ car.price }} ₽</p>
            <p>{{ car.sell_price }}</p>
        </div>
        {% else %}
        <p class="car-price">Цена: {{ car.price }} ₽</p>
        {% endif %}
        <p>Категория: {{ car.category }}</p>
        <p>Описание: {{ car.description|linebreaks }}</p>
        {% for spec in car_specs %}
        <p>Пробег: {{ spec.distance }} км</p>
        <p>Объем двигателя: {{ spec.engine_capacity }} л.</p>
        <p>Мощность двигателя: {{ spec.engine_power }} л.с.</p>
        <p>Тип двигателя: {{ spec.type_engine }}</p>
        <p>Владельцев: {{ spec.owners }}</p>
        <p>ПТС: {{ spec.pts }}</p>
        <p>Таможня: {% if spec.customs %}Растоможена{% else %}Не растоможена{% endif %}
        </p>
        {% endfor %}
        <form action="{% url "cart:cart_add" car.id %}" class="qform" method="post">
            <div class="cart-form">
                {{ cart-car_form }}
                {% csrf_token %}
            </div>
            <input type="submit" class="add-to-cart-btn" value="В корзину">
        </form>
    </div>
    </div>
{% endblock content %}



