{% extends "main/base.html" %}
{% load static %}

{% block title %}
    {{ car.name }}
{% endblock title %}

{% block content %}
    <div class="detail-car">
    <img src="{% if car.image %}{{car.image.url}}{% else %}{% static "img/noimage.png" %}{% endif%}" alt="" class="detail-image">
    <div class="detail-description">
        <h2>{{ car.name }}</h2>
        <h3>Категория: {{ car.name }}</h3>
        <p>Описание: {{ car.detail-description}}</p>
        {% if car.discount %}
            <div class="card-discount">
                <p class="card-line"></p>
                <p class="line">{{ car.price}}</p>
                <p>{{ car.sell_price }}</p>
            </div>
        {% else %}
            <p class="product-price">{{ car.price }}</p>
        {% endif %}
        <a href="#" class="cart-btn">В корзину</a>
    </div>
    </div>
{% endblock content %}



